<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
  <% ['development', 'music', 'hiking'].each do |tag| -%>
    <%= label_tag "post[tags][#{tag}]", tag %>
    <%= check_box_tag "post[tags][#{tag}]", tag, @post.tags&.any?(tag) %>
  <% end -%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
